<div>
    <h1>Welcome to Pizzekore!</h1>
</div>

<h2>Create a new order</h2>

<form action="/send-order" method="post">

    <div>
        Customer
        <input type="text" name="name" placeholder="Customer name">
    </div>

    <div>
        Pizza's taste
        <select name="pizzeria">
            <option>Bella Napoli</option>
            <option>Capricciosa</option>
            <option>4 stagioni</option>
            <option>Sorrentina</option>
        </select>
    </div>

    <button>Send Order</button>
</form>
