<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        $.getJSON("/orders-list", function(data) {

            $.each(data, function (i, d) {
                $('#orders').append(
                    '<div class="order" ' +
                    'data-pizzeria="' + d.pizzeria + '" ' +
                    'data-customer="' + d.customer + '" ' +
                    'data-pizza="' + d.pizza + '" ' +
                    'data-at="' + d.at + '">' +
                        '<span>' + d.pizza + ' orderd by ' + d.customer + ' at ' + d.name + '</span> ' +
                        '<button>Complete order</button>' +
                    '</div>'
                );
            });

            $('.order button').click(function () {
                var parent = $(this).parent();

                $.post('/complete-order', {
                    'at': parent.data('at'),
                    'customer': parent.data('customer'),
                    'pizza': parent.data('pizza'),
                    'pizzeria': parent.data('pizzeria')
                });
            });
        });
    });
</script>

<div>
    <h1>Welcome to Pizzekore!</h1>
</div>

<h2>Orders list</h2>

<div id="orders"></div>

